* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEF2F4; 
    color: #333;
    overflow-x: hidden;
    line-height: 1.6;
}

.story-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; 
    padding: 50px 0;
}

.scene {
    min-height: 80vh; 
    margin-bottom: 25vh;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scene-2 {
    transition: opacity 0.4s ease-in-out, transform 0.8s ease-out;
}

.scene.visible {
    opacity: 1;
    transform: translateY(0);
}

.scene.choice-outcome {
    display: none;
}

.scene h1, .scene h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 20px;
    color: #2c3e50;
}

.scene p {
    font-size: 1.1rem;
    max-width: 600px;
    margin-bottom: 30px;
}

.cat-image {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.choices button {
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    background-color: #82AAE3;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.choices button:hover {
    background-color: #91D8E4;
    transform: translateY(-2px);
}

.scene-1 { background-color: #fce4ec; }
.scene-2 { background-color: #e3f2fd; }
.scene-4 { background-color: #e3f2fd; }
.scene-5 { background-color: #fce4ec; }


.conclusion {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.conclusion.visible {
    opacity: 1;
    transform: translateY(0);
}

.conclusion h2 {
    font-size: 4rem;
    color: #82AAE3;
}